/* High Scores */

.tabs button {
    transition-duration: 0.6s;
    transition-property: background-color, color;
    @apply px-5 py-3 rounded-md text-white
}

.tabs button.active {
    @apply text-white bg-[var(--green)]
}

.high-score-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    border-radius: 0.375rem;
    overflow: hidden;
}

.high-score-table th, .high-score-table td {
    padding: 10px;
}

.high-score-table tr:nth-child(even) {
    background-color: rgba(134, 194, 50, 0.4);
}

.high-score-table .name-col {
    width: 50%;
    text-align: left;
}

.high-score-table .other-col {
    width: 20%;
}

.high-score-table .number-col {
    width: 10%;
}